
.login-div {
 display: flex; 
 width: 70%;
 margin:5rem auto;
 // margin-bottom: 1rem ;
 box-shadow: var(--box-shadow);
 border-radius: 6px;
 #login-form {
  // display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
  label {
   display: block;
   font-size: 1.5rem;
  }
 input {
  width: 70%;
  margin: 0.8rem;
  margin-bottom: 5rem;
  box-shadow: var(--box-shadow);
 }
 button {
  background-color: var(--bg-color);
  // width: 5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 6px;
   box-shadow: var(--box-shadow);
   letter-spacing: 0.5rem;
   margin-left: 1rem;
   font-weight: 900;
  &:focus, &:hover {
   color: var(--bg-color);
   background-color: var(--color);
  }
 }
 
 }
}
