:root{--bg-color: rgb(2,62, 62)

}
@media(max-width: 700px) {
 form {
  /* background-color: var(--bg-color); */
  height: 60vh;

 }
 input {
  margin: auto;
  width: 50%;
  display: block;
  border: 0.6px solid var(--bg-color) ;
  border-radius: 5px;
  margin-bottom: 1rem;
  height: 2rem;

 }

 input:last-of-type {
  display: inline-block;
  width: auto;
 }
}